html,
body,
#root {
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sb-box {
  height: 100vh;
}

.leaflet-bottom.leaflet-custom-controls {
  margin-bottom: 14px;
}

.leaflet-bar.leaflet-control {
  border-radius: var(--RADIUS_MAP_CONTROL);
  border: none;
  box-shadow: var(--SHADOW);
  user-select: none;
}

.leaflet-bar.leaflet-control .leaflet-control-zoom-in,
.leaflet-bar.leaflet-control .leaflet-control-zoom-out {
  line-height: 26px;
}

.leaflet-bar.leaflet-control a,
.leaflet-bar.leaflet-control button {
  background-color: var(--COLOR_WHITE);
  transition: background-color var(--TRANSITION_CONTROLS);
}

.leaflet-bar.leaflet-control button {
  cursor: pointer;
  border-radius: var(--RADIUS_MAP_CONTROL);
}

.leaflet-bar.leaflet-control a:hover,
.leaflet-bar.leaflet-control button:hover {
  background-color: var(--COLOR_GRAY_LIGHT);
}
