:root {
  --WIDTH_SIDEBAR: 335px;

  --HEIGHT_SIDEBAR: 90vh;

  --COLOR_WHITE: #ffffff;

  --COLOR_GRAY_0: #f8f8f8;
  --COLOR_GRAY_1: #999999;
  --COLOR_GRAY_2: #666666;
  --COLOR_GRAY_3: #333333;

  --FONT_SIZE_SMALL: 10px;

  --SPACING_NORMAL: 10px;
  --SPACING_EXTRA_LARGE: 25px;

  --TRANSITION_CONTROLS: 0.5s;
  --TRANSITION_SIDEBAR: 0.25s;

  --RADIUS_MAP_CONTROL: 2px;
}
