.button {
  align-items: center;
  appearance: none;
  background: var(--COLOR_WHITE);
  border-radius: var(--RADIUS_MAP_CONTROL);
  border: none;
  box-shadow: var(--SHADOW);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: center;
  padding: 0px;
  text-transform: none;
  user-select: none;
  width: 40px;
}

.button svg {
  fill: var(--COLOR_GRAY_2);
  transition: fill var(--TRANSITION_CONTROLS);
}

.button:hover svg {
  fill: var(--COLOR_GRAY_3);
}

.button span {
  color: var(--COLOR_GRAY_1);
  font-size: var(--FONT_SIZE_SMALL);
  font-weight: 800;
  line-height: 16px;
  transition: color var(--TRANSITION_CONTROLS);
}

.button:hover span {
  color: var(--COLOR_GRAY_2);
}

.active svg {
  fill: var(--COLOR_BLUE);
}
