.button {
  align-items: center;
  appearance: none;
  border: none;
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: center;
  padding: 0px;
  text-transform: none;
  user-select: none;
  width: var(--WIDTH_CONTROL);
}

.button svg {
  fill: var(--COLOR_GRAY_2);
  transition: fill var(--TRANSITION_CONTROL);
}

.button span {
  color: var(--COLOR_GRAY_1);
  font-size: var(--FONT_SIZE_SMALL);
  font-weight: var(--FONT_WEIGHT_BOLD);
  line-height: 16px;
  transition: color var(--TRANSITION_CONTROL);
}

.active svg {
  fill: var(--COLOR_BLUE);
}
