.button {
  align-items: center;
  appearance: none;
  background: var(--COLOR_WHITE);
  border-radius: var(--RADIUS_MAP_CONTROL);
  border: none;
  box-shadow: var(--SHADOW);
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  padding: 0px;
  text-transform: none;
  user-select: none;
  width: 40px;
}

.button svg {
  fill: var(--COLOR_GRAY_2);
  transition: fill var(--TRANSITION_CONTROLS);
}

.button:hover svg {
  fill: var(--COLOR_GRAY_3);
}

.active svg {
  fill: var(--COLOR_BLUE);
}
